$text-coldor: #212121;
$search-color-border: #dfe1e5;
$background-color: #f8f9fa;
$box-shadow: rgba(0, 0, 0, .1);
$button-border: #dadce0;
$image-tag-color: #4285f4;


body {
  font-family: arial, sans-serif;
  font-size: 14px;
}


.top-search-padding {
  padding-top: 8%;
}


.search-section {
  display: grid;
  justify-content: center;

  .google-logo {
    display: flex;
    justify-content: center;
    padding: 25px 0;

    .image-tag {
        color: $image-tag-color;
        position: relative;

        span {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
  }

  .google-query {
    border: 1px solid $search-color-border;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  .google-buttons {
    display: flex;
    justify-content: center;
  }

  input {
    &[type='text'] {
      background-color: transparent;
      border: 0;

      display: flex;
      flex: 100%;

      height: 34px;
      padding: 5px 25px;
      width: 574px;

      &:focus {
        outline: none;
      }
    }

    &[type='button'],
    &[type='submit'] {
      align-items: center;
      background-color: $background-color;
      border: 1px solid transparent;
      border-radius: 4px;

      box-shadow: 0 1px 1px $box-shadow;
      margin-right: 10px;
      padding: 5px 20px;

      &:hover {
        background-color: $background-color;
        border: 1px solid $button-border;
        box-shadow: 0 1px 1px $box-shadow;
      }
    }
  }
}
